
<header>
<nav>
<a href="{{ site.baseurl }}/"><h1>My Portfolio @OuestLab</h1></a>

<div class="tabs">
<ul class="tab-links">
<li><a id="#tab1" href="{{ site.baseurl }}/">Portfolio</a></li>
<li><a id="#tab2" href="{{ site.baseurl }}about">About</a></li>
<li><a id="#tab3" href="{{ site.baseurl }}contact">Contact</a></li>
<li><a id="#tab4" href="{{ site.baseurl }}reports">Reports</a></li>
</ul>
</nav> 
</div>

<div class="row">
  <div class="side">
      <p>Selected Examples</p>
  </div>

</header>
